.land-container {
    background-color: #551d1d;
    /* padding: 1px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #551d1d;
}

.plot-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.plot,
.plot-s {
    border: 0px solid #551d1d;
    height: 20px;
    width: 20px;
    margin: 0.5px;
    transition: transform 0.1s ease-in-out, border 0.1s ease-in-out;
}

  @media (max-width: 600px) {

      .plot,
      .plot-s {
          border: 0px solid #551d1d;
          height: 15px;
          width: 15px;
          margin: 0.5px;
          transition: transform 0.1s ease-in-out, border 0.1s ease-in-out;
      }
  }
.plot:hover {
    cursor: pointer;
    border: 2px solid #551d1d;
    /* border-radius: 3px; */
    transform: scale(1.5);
}